.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin-top: 2em;
    margin-left: .5em;
    padding: .5em;

    width: 20vw;

    box-shadow: rgba(0, 0, 0, 0.363) 1px 2px 4px 0px inset;
    border: none;
    outline: none;
}

.submit {
    margin-top: 3em;
    padding: 1em;
    width: 30%;
    background: #663bc9e0;
    color: #FFF;

    cursor: pointer;
    border: none;
    box-shadow: 10px 10px 0 #f6f6f6;

    font-family: 'Varela Round', sans-serif;
}

.errorMessage {
    color: red;
    margin: 0;
}